{extend name='admin@main'}

{block name="button"}
{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加商品分类" class='layui-btn layui-btn-sm layui-btn-primary'>添加商品分类</button>
{/if}
{if auth("remove")}
<button data-action='{:url("remove")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除商品分类
</button>
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='product_type/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>

            <th class='text-left nowrap'>分类名称</th>
            <th class="text-center">状态</th>
            <th class="text-center">创建时间</th>
            <th class="text-left">操作</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>

            <td class='text-left nowrap'>

                {$vo.title|default=''}
            </td>
            <td class='text-center nowrap'>
                {eq name='vo.status' value='1'}<span class="layui-badge">已禁用</span>{else}<span
                    class="layui-badge layui-bg-green">使用中</span>{/eq}<br>
            </td>
            <td class='text-center nowrap'>{$vo.created_time|format_datetime}</td>
            <td class='text-left nowrap'>

                {if auth("edit")}
                <a data-title="编辑商品分类" class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {eq name="vo.status" value="0"}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('forbid')}"
                   data-value="id#{$vo.id};status#0">禁 用</a>
                {/eq}
                {eq name="vo.status" value="1"}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('resume')}"
                   data-value="id#{$vo.id};status#1">启 用</a>
                {/eq}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?"
                   data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
