{extend name='admin@main'}

{block name="button"}
<!--{if auth("store/goods/add")}-->
<button data-open='{:url("add")}' data-title="添加商品" class='layui-btn layui-btn-sm layui-btn-primary'>添加商品</button>
<!--{/if}-->
<!--{if auth("store/goods/remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除商品
</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='product/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>

            <th class='text-left nowrap' width="10%">id</th>
            <th class='text-left nowrap' width="10%">商品名称</th>
            <th class='text-left nowrap' width="10%">上架状态</th>


            <th class='text-left nowrap' width="10%">分类名称</th>

            <th class='text-left nowrap' width="10%">尺码</th>
            <th class='text-left nowrap' width="10%">价格</th>
            <th class='text-left nowrap' width="10%">会员价格</th>
            <th class='text-left nowrap' width="10%">是否为秒杀商品</th>
            <th class='text-left nowrap' width="10%">是否为拼团商品</th>
            <th class='text-left nowrap' width="10%">卖出数量</th>


            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}'
                                                                  type='checkbox'></td>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.title}</td>
            <td class='text-left nowrap'>
                {switch name="$vo.status"}
                {case value="0"}上架中{/case}
                {case value="1"}下架中{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>{$vo.cate}</td>


            <td class='text-left nowrap'>
                {switch name="$vo.size"}
                {case value="0"}S{/case}
                {case value="1"}N{/case}
                {case value="2"}L{/case}
                {case value="3"}XL{/case}
                {case value="4"}XXL{/case}
                {/switch}
            </td>

            <td class='text-left nowrap'>{$vo.price}</td>
            <td class='text-left nowrap'>{$vo.vip_price}</td>
            <td class='text-left nowrap'>
                {switch name="$vo.is_seckill"}
                {case value="0"}不是{/case}
                {case value="1"}是{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
                {switch name="$vo.is_group"}
                {case value="0"}不是{/case}
                {case value="1"}是{/case}
                {/switch}
            </td>


            <td class='text-left nowrap'>{$vo.sale_num}</td>
            <td class='text-left nowrap'>


                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={$vo.id}'>编 辑</a>
                {/if}

                {if auth("forbid")}
                {if $vo.status==0}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('forbid')}"
                   data-value="id#{$vo.id};status#0">下 架</a>
                {/if}
                {/if}

                {if auth("resume")}
                {if $vo.status==1}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('resume')}"
                   data-value="id#{$vo.id};status#1">上 架</a>
                {/if}
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-csrf="{:systoken('remove')}"
                   data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                {/if}
                <a class="layui-btn layui-btn-sm" data-open="{:url('coupon/coupon/index')}?product_id={$vo.id}">查看优惠券</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
