


<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">商品id</label>
            <div class="layui-input-block">
                <input name="p_id" value='{$vo.p_id|default=""}' placeholder="商品id" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">轮播图</label>
            <div class="layui-input-block">
                <input name="img_url" type="hidden" value="{$vo.img_url|default=''}">
                <script>$('[name="img_url"]').uploadOneImage()</script>
            </div>
        </div>


    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>





