<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label ">id</label>
            <div class="layui-input-block">
                <input name="id" value='{$vo.id|default=""}'  placeholder="id" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label ">昵称</label>
            <div class="layui-input-block">
                <input name="nick_name" value='{$vo.nick_name|default=""}'  placeholder="昵称" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label ">账号名</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}'  placeholder="账号名" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-select">

                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <select class="layui-select" name="sex" disabled>
                        {foreach [0=>'未知',1=>'男',0=>'女',] as $key=>$v}
                        {if isset($key)&&$key ==$vo.sex }
                        <option selected value="{$key}">{$v}</option>
                        {else}
                        <option select="" value="{$key}">{$v}</option>
                        {/if}
                        {/foreach}
                    </select>
                </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block">
                <img data-tips-image  src="{$vo.profile_picture|default=''}" style="height: 100px;width: 100px">
            </div>
        </div>

        <div class="layui-form-select">
            <div class="layui-form-item ">
                <label class="layui-form-label">是否会员</label>
                <div class="layui-input-block">
                    <select class="layui-select" name="is_vip" disabled>
                        {foreach [0=>'不是',1=>'是'] as $key=>$v}
                        {if isset($key)&&$key ==$vo.is_vip }
                        <option selected value="{$key}">{$v}</option>
                        {else}
                        <option select="" value="{$key}">{$v}</option>
                        {/if}
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label label-required">积分</label>
            <div class="layui-input-block">
                <input  name="name" value='{$vo.points|default=""}'  placeholder="积分" class="layui-input" disabled>
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-block">
                <input name="created_time" value="{$vo.created_time|default=''}"  class="layui-input" >
            </div>
        </div>


    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>

</form>
